<h1>Reports Application</h1>

<p>This is a Ruby on Rails application developed by First lieutenant Federico N. Sapuppo,
from the Argentinian Air Force, in order to provide a simple and fast way to upload
Immediate Reports already transmitted by radio or phone, in the context of the 
UNFICYP mission.</p></br>

<h2>How to fill up the forms</h2></br>

<h3>A) Date of Incident</h3>

<p>Fill up the date in wich the incident took place. e.g.: 05/18/2023</p>

<h3>B) Time of Incident</h3>

<p>Fill up the time in wich the incident took place. e.g.: 08:30hs</p>

<h3>C) Type of Incident</h3>

<p>Fill up the type of incident. e.g.: Traffic accident</p>

<h3>D) Location of Incident</h3>

<p>Fill up with information about near UN or oposing forces positions, and 
with the exact location in wich the incident took place. Preffer the use of
the Military Grid Reference System (MGRS). If not possible, use UTM system and
specify the refference system used. e.g.: 
<ul>
<li>MGRS 36S WD 13246 71090 </li>
<li>UTM Lat: 34.9823018 N, Long: 33.1451285 E </li>
<li>UTM Lat: 34° 58&#39 56&quot N, Long: 33° 8&#39 42&quot E </li>
</ul>
</p>

<h3>E) Initiator of Incident</h3>Allways

<p>Fill up the initiator of incident. Use the most precise abbreviation. 
Use this refference for choosing the most appropriate abbreviation:
<ul>
<li>TF for Turkish Forces</li>
<li>NG for National Guard</li>
<li>TkCyp for Turkish Cypriots</li>
<li>GkCyp for Greek Cypriots</li>
<li>CYPOL for Cyprus Police</li>
<li>UN for United Nations personnel</li>
<li>Civ for Unidentify Civilians or tourists</li>
<li>Other for Unidentify Initiators (use this only as a last resort)</li>
</ul>
</p>

<h3>F) Unit Identity</h3>

<p>Fill up the unit identity, only if military (battalion, brigade, or division UI).
e.g.: MTSA 1432213</p>

<h3>G) Details of Incident</h3>

<p>Fill up the details of the incident being presice and providing as much information
as possible. Try answering the following questions: who, what, when, where, why and how.</p>

<h3>H) Actions taken by UNFICYP</h3>

<p>Fill up explaining the actions taken by the U.N. personnel present at the time of the incident</p>

<h3>I) Incident Status</h3>

<p>Fill up just either &quoton-going&quot or &quotclosed&quot</p>

<h3>J) Any further information</h3>

<p>Fill up any further information such as past incidents related to the one being reported,
witnesses&#39 contact information, and links to multimedia like photos and video recordings.</p>

<h3>J) Signed by</h3>

<p>Fill up your abbreviated military rank, family name, name, and abbreviated force, to wich you belong,
 in that order.
e.g.: 1LT Sapuppo, Federico. AAF.
<br><br>
For ranks, use the following abbreviations:

<br><br>Army<br>
<ul>
<li>1) SLT for Sub Lieutenant</li>
<li>2) LT for Lieutenant</li>
<li>3) 1LT for First Lieutenant</li>
<li>4) CPT for Captain</li>
<li>5) MAJ for Major</li>
<li>6) LTC for Lieutenant Colonel</li>
<li>7) COL for Colonel</li>
<li>8) COLM for Colonel Major</li>
<li>9) BG for Brigadier General</li>
<li>10) DG for Division General</li>
<li>11) LTG for Lieutenant General</li>
</ul>

<br>Navy<br><br>
<ul>
<li>1) GN for Guards of the Navy</li>
<li>2) CL for Corvette Lieutenant</li>
<li>3) FL for Frigate Lieutenant</li>
<li>4) SL for Ship Lieutenant</li>
<li>5) CC for Corvette Captain</li>
<li>6) FC for Frigate Captain</li>
<li>7) SC for Ship Captain</li>
<li>8) NC for Navy Commodore</li>
<li>9) CA for Counter Admiral</li>
<li>10) VA for Vice Admiral</li>
<li>11) AD for Admiral</li>
</ul>

<br>Air Force<br><br>
<ul>
<li>1) EN for Ensign</li>
<li>2) LT for Lieutenant</li>
<li>3) 1LT for First Lieutenant</li>
<li>4) CPT for Captain</li>
<li>5) MAJ for Major</li>
<li>6) VC for Vice Commodore</li>
<li>7) COM for Commodore</li>
<li>8) COMM for Commodore Major</li>
<li>9) B for Brigadier</li>
<li>10) BM for Brigadier Major</li>
<li>11) BG for Brigadier General</li>
</ul>

Use the following abbreviations for forces:
<br><br>
<ul>
<li>AA for Argentinian Army</li>
<li>AN for Argentinian Navy</li>
<li>AAF for Argentinian Air Force</li>
</ul>

</p>
