<h1>Add a New Report!</h1>

<p>Go to "About" for information about how to fill up reports.</p>

<% if user_signed_in? %>
<%= link_to "New report", new_report_path, class:"btn btn-dark" %>
<% else %>
<p> You need to sing in in order to add, see, or delete reports! <p>
<%= link_to "SIGN IN!", new_user_session_path, class:"btn btn-dark" %>
<% end %>
