<h1>Reports List</h1>

<div id="reports">
  <% @reports.each do |report| %>
    <%= render report %>
    <p>
      <%= link_to "Show this report", report, class:"btn btn-secondary" %>
    </p>
  <% end %>
</div>

<%= link_to "New report", new_report_path, class:"btn btn-dark" %>
